.go-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  cursor: pointer;

  &__button-container {
    transform: rotate(180deg);
    svg {
      position: relative;
      left: 8px;
    }
  }
}
