.yes-no-selector {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 7px;
    @media (max-width: 720px) {
      flex-direction: column;
    }
  }
}
